server:
  port: 9999

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tableperclass
    username: postgres
    password: 123456789
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect